<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<form method="post" class="container">
	Username:<input type="text" name="username">
	Password:<input type="password" name="password">
	<input type="submit" name="Login" value="Login">
</form>
Don't have an account yet!!<a href="signup"><button>Sign Up</button></a>
<div>{{message}}</div>