<form method="post">
	Username:<input type="text" name="username">
	Password:<input type="password" name="password">
	<input type="submit" name="Login" value="Login">
</form>
Don't have an account yet!!<a href="signup"><button>Sign Up</button></a>
<div>{{message}}</div>