<form method="post">
	Username:<input type="text" name="username">
	Password:<input type="password" name="password">
	<input type="submit" name="signup" value="Sign Up">
</form>
Already have an Account!! <a href="login"><button>Log In</button></a>
<div>{{message}}</div>